DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5433/inventory
SECRET_KEY=34e65rtyugjhbnmjki9ou8y7utghnjbm
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
CORS_ORIGINS=["http://localhost:5173","http://localhost:8080"]
